@font-face {
  font-family: 'Merriweather';
  src: url('~@/assets/fonts/Merriweather-Bold.woff2') format('woff2'),
       url('~@/assets/fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('~@/assets/fonts/Merriweather-Regular.woff2') format('woff2'),
       url('~@/assets/fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('~@/assets/fonts/Merriweather-Light.woff2') format('woff2'),
       url('~@/assets/fonts/Merriweather-Light.woff') format('woff');
  font-weight: 300; /* Light */
  font-style: normal;
}